<div class="p-5 text-center bg-image" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 650px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Hello Everyone !</h1>
                <h4 class="mb-3">Welcome to myPortfolio</h4>
                <a class="btn btn-outline-light btn-lg" href="" role="button">Know More</a>
            </div>
        </div>
    </div>
</div>


<div class="container my-5">

    <div class="container ">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="\assets\portfolio2.jpg" width="200" height="200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Good Portfolio</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, eligendi aliquid!</p>
                        <a href="#" class="btn btn-primary">Explpore</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="\assets\portfolio3.jpg" width="200" height="200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Attractive Profile</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, molestias nobis?.</p>
                        <a href="#" class="btn btn-primary">Explpore</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="\assets\portfolio2.jpg" width="200" height="200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, nisi fugiat? </p>
                        <a href="#" class="btn btn-primary">Explpore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
